* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1em;
    font-weight: 300;
    word-break: break-all;
}

.clearfix {
    zoom: 1;
}

.clearfix:after,
.clearfix:before {
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

body {
    -webkit-user-select: none;
    cursor: default;
    background: url('dots@2x.png'), url('double_line@2x.png') repeat-y 15px 0;
    background-size: 2px 32px, 4px 1px;
}

.main_inner {
    padding: 5px 15px 30px 30px;
    text-align: justify;
}

.character {
    display: inline-block;
    padding: 3px 6px 3px;
    margin-top: 6px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 4px;
    cursor: default;
}

.character:hover {
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.08)), color-stop(34%, rgba(234, 234, 234, 0.08)), color-stop(54%, rgba(196, 196, 196, 0.08)), color-stop(100%, rgba(120, 120, 120, 0.08)));
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04), 0 0 0 1px rgba(255, 255, 255, 0.75) inset;
}

.character div {
    text-align: center;
}

.jyutping {
    font-weight: 300;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
}

.char_zh {
    font-size: 32px;
    height: 34px;
    line-height: 34px;
}

.font_sc {
    font-family: Times, Kaiti SC, Kaiti TC, Kai, STKaiti;
}

.font_tc {
    font-family: Times, Kaiti TC, Kaiti SC, Kai, STKaiti;
}
